app/config/config.py
app/logs/*
.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
app/__pycache__/
app/config/__pycache__/
app/db/__pycache__/
app/db/timescaledb/__pycache__/
app/ingest/__pycache__/
app/kafka/__pycache__/
app/logger.py
app/stream/__pycache__/