app/config/config.py
app/logs/*
.venv/
venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
app/__pycache__/
app/config/__pycache__/
app/db/__pycache__/
app/db/timescaledb/__pycache__/
app/ingest/__pycache__/
app/kafka/__pycache__/
app/logger.py
app/stream/__pycache__/

# Secrets & tokens
app/zerodha_access_token.txt
*.token
*.key
.idea/
app/auth/token_manager.py
docker-compose.yml
docs/CLAUDE.md
docs/CLEANUP_SUMMARY.md
docs/PROJECT_STRUCTURE.md
docs/REQUIREMENTS.md
docs/ZERODHA_TABLE_FIX.md
scripts/.gitkeep
tests/.gitkeep
tests/cache/.gitkeep
tests/integration/.gitkeep
